body{
    margin:0;
    font-family:Segoe UI;
    background:#111;
    color:white;
}

table{
    width:95%;
    margin:50px auto;
    border-collapse:collapse;
}

th, td{
    padding:12px;
    border:1px solid #333;
    text-align:center;
}

th{
    background:#222;
}

.title{
    text-align:center;
    margin-top:30px;
}